<!doctype html>
<html lang="en">
    <head>
      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <title></title>
    </head>
    <body>

        <div class="container">
            <h1 class="mt-4 mb-4 text-center text-primary"><b>Users</b></h1>

            <span id="message"></span>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-sm-9">Lists</div>
                        <div class="col col-sm-3">
                            <button type="submit" id="create_user" class="btn btn-outline-success btn-sm float-end">Create</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="sample_data">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>title</th>
                                    <th>mobile</th>
                                    <th>Email Address</th>
                                    <th>Address Line 1</th>
                                    <th>Address Line 2</th>
                                    <th>Town</th>
                                    <th>County/City</th>
                                    <th>Eircode</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<div class="modal" tabindex="-1" id="action_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="sample_form">
                <div class="modal-header" id="modal_title">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">First Name*</label>
                        <input type="text" name="first_name" id="first_name" class="form-control" required  />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name*</label>
                        <input type="text" name="last_name" id="last_name" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <select name="title" id="title" class="form-control">
                            <option value="Mx">Mx</option>
                            <option value="Ms">Ms</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Dr">Dr</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile*</label>
                        <input type="text" name="mobile" id="mobile" class="form-control" required  />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Address*</label>
                        <input type="text" name="email_address" id="email_address" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address Line 1*</label>
                        <input type="text" name="address_line_1" id="address_line_1" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address Line 2</label>
                        <input type="text" name="address_line_2" id="address_line_2" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Town*</label>
                        <input type="text" name="town" id="town" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">County/City*</label>
                        <input type="text" name="county_city" id="county_city" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Eircode</label>
                        <input type="text" name="eircode" id="eircode" class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <p>* Required fields</p>
                    <input type="hidden" name="id" id="id" />
                    <input type="hidden" name="action" id="action" value="create" />
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary" id="action_button">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>


    <script> 
        $(document).ready(function(){
        
            // Function to load data from server
            load_data();
        
            function load_data(){
                // AJAX request to fetch data from server
                $.ajax({
                    url:"http://localhost:3000/action",
                    method:"POST",
                    data:{action:'search'},
                    dataType : "JSON",
                    success:function(data){
                        console.log(data);
                        var html = '';
        
                        // Check if data is available
                        if(data.data.length >= 0){
                            // Loop through data and create HTML table rows
                            for(var i = 0; i < data.data.length; i++){
                                html += `
                                <tr>
                                    <td>`+data.data[i].first_name+`</td>
                                    <td>`+data.data[i].last_name+`</td>
                                    <td>`+data.data[i].title+`</td>
                                    <td>`+data.data[i].mobile+`</td>
                                    <td>`+data.data[i].email_address+`</td>
                                    <td>`+data.data[i].address_line_1+`</td>
                                    <td>`+data.data[i].address_line_2+`</td>
                                    <td>`+data.data[i].town+`</td>
                                    <td>`+data.data[i].county_city+`</td>
                                    <td>`+data.data[i].eircode+`</td>
                                    <td><button type="button" class="btn btn-outline-warning btn-sm update" data-id="`+data.data[i].id+`">Update</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm delete" data-id="`+data.data[i].id+`">Delete</button>
                                    </td>
                                </tr>
                                `;
                            }
                        }
    
                        // Append HTML to table body
                        $('#sample_data tbody').html(html);
                    }
                });
            }
    
    
            // Event listener for clicking the create user button
            $('#create_user').click(function(){
    
                // Set modal title and form action for creating user
                $('#modal_title').text('Create User');
                $('#sample_form')[0].reset();
                $('#action').val('create');
                $('#action_button').text('Create');
                $('#action_modal').modal('show');
    
            });
    
            // Event listener for form submission
            $('#sample_form').on('submit', function(event){
    
                // Prevent default form submission
                event.preventDefault();
    
                // AJAX request to handle form submission
                $.ajax({
                    url:"http://localhost:3000/action",
                    method:"POST",
                    data:$('#sample_form').serialize(),
                    dataType:"JSON",
                    beforeSend:function(){
                        $('#action_button').attr('disabled', 'disabled');
                    },
                    success:function(data){
                        $('#action_button').attr('disabled', false);
                        $('#message').html('<div class="alert alert-success">'+data.message+'</div>');
                        $('#action_modal').modal('hide');
                        load_data();
                        setTimeout(function(){
                            $('#message').html('');
                        }, 3000);
                    }
                });
    
            });
    
            // Event listener for clicking the update button
            $(document).on('click', '.update', function(){
    
                // Get user ID from data attribute
                var id = $(this).data('id');
    
                // Set modal title and action for updating user
                $('#modal_title').text('Update User');
                $('#action').val('update');
                $('#action_button').text('Update');
                $('#action_modal').modal('show');
    
                // AJAX request to fetch user data for update
                $.ajax({
                    url:"http://localhost:3000/action",
                    method:"POST",
                    data:{id:id, action:'search_single'},
                    dataType:"JSON",
                    success:function(data){
                        // Populate form fields with fetched user data
                        $('#first_name').val(data.first_name);
                        $('#last_name').val(data.last_name);
                        $('#title').val(data.title);
                        $('#mobile').val(data.mobile);
                        $('#email_address').val(data.email_address);
                        $('#address_line_1').val(data.address_line_1);
                        $('#address_line_2').val(data.address_line_2);
                        $('#town').val(data.town);
                        $('#county_city').val(data.county_city);
                        $('#eircode').val(data.eircode);
                        $('#id').val(data.id);
                    }
                });
    
            });
    
            // Event listener for clicking the delete button
            $(document).on('click', '.delete', function(){
    
                // Get user ID from data attribute
                var id = $(this).data('id');
    
                // Confirmation dialog for deletion
                if(confirm("Delete?")){
                    // AJAX request to delete user
                    $.ajax({
                        url:"http://localhost:3000/action",
                        method:"POST",
                        data:{action:'delete', id:id},
                        dataType:"JSON",
                        success:function(data){
                            $('#message').html('<div class="alert alert-success">'+data.message+'</div>');
                            load_data();
                            setTimeout(function(){
                                $('#message').html('');
                            }, 3000);
                        }
                    });
                }
    
            });
        });
    
    </script>
    